<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hipay.hipayfullservice">

    <application>

        <activity android:name=".screen.activity.PaymentProductsActivity"
            android:theme="@style/PaymentScreens.PaymentProductsActivity"
            />

        <activity android:name=".screen.activity.PaymentFormActivity"
            android:theme="@style/PaymentScreens.PaymentFormActivity"
            android:windowSoftInputMode="adjustPan"
            />

    </application>

</manifest>
