<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hipay.fullservice">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>

        <activity android:name=".screen.activity.PaymentProductsActivity"
            android:theme="@style/PaymentScreens.PaymentProductsActivity"
            />

        <activity android:name=".screen.activity.PaymentCardsActivity"
            android:theme="@style/PaymentScreens.PaymentCardsActivity"
            />

        <activity android:name=".screen.activity.PaymentFormActivity"
            android:theme="@style/PaymentScreens.PaymentFormActivity"
            android:windowSoftInputMode="adjustPan"
            />

        <activity android:name=".screen.activity.ForwardWebViewActivity"
            android:theme="@style/PaymentScreens.ForwardWebViewActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize">

        </activity>

        <activity android:name="io.card.payment.CardIOActivity" android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="true"/>

    </application>

</manifest>
